.header {
  width: 100%;
  padding: 10px;
  background: #f0a500;
  border-radius: 0.5rem;
  color: #f4f4f4;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: block;
  position: relative;
  overflow: hidden;
}
a {
  color: #f4f4f4;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  margin-left: 5px;
}

.header-logo {
  display: flex;
  justify-content: flex-start;

  a {
    font-size: 40px;
  }

  background-color: #f0a500;
  border-radius: 0.5rem;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: flex-start;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  .highlight {
    color: #f0a500;
  }
}

.setting {
  a {
    color: white;
  }
  display: flex;
  justify-content: flex-end;
  background-color: #f0a500;
  border-radius: 0.5rem;
}
.highlight:hover {
  color: #f4f4f4;
  background-color: #1a1c20;
  border-radius: 6px;
  box-sizing: padding-box;
}

.active {
  background-color: #1a1c20;

  padding: 10px 15px;
  margin-left: 5px;
  border-radius: 6px;
}

@media screen and(max-width:642px) {
  .nav {
    display: none;
  }
  .navActivate {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .setting {
    a {
      color: #f0a500;
    }
    display: flex;
    justify-content: flex-end;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
  }
  .header-logo a.icon {
    background-image: url("https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: 50px;
    margin-top: 20px;
  }
}
