<div class="header">
  <div class="header-section">
    <div class="header-item header-logo">
      <a routerLink="">MY First TODO</a>
    </div>
    <nav>
      <div class="header-item header-button">
        <a routerLink="/tobuy" routerLinkActive="active" fragment="buy"
          >Купити</a
        >
      </div>
      <div class="header-item header-button">
        <a routerLink="/to-do" routerLinkActive="active" fragment="do"
          >Зробити</a
        >
      </div>
      <div class="header-item header-button">
        <a routerLink="/to-call" routerLinkActive="active">Зателефонувати</a>
      </div>
      <div class="header-item header-button">
        <a routerLink="/costs" routerLinkActive="active">Витрати</a>
      </div>
      <div class="header-item header-button">
        <a routerLink="/sport">Спорт</a>
      </div>
    </nav>
    <div class="header-section footer">
      <div class="header-item header-button"><a href="">Налаштування</a></div>
      <div class="header-item header-button"><a href="">Вхід</a></div>
    </div>
  </div>
</div>
