<div class="header">
  <div class="header-logo">
    <a class="icon"> </a>
    <a routerLink="/start">MY First TODO</a>
  </div>
  <div class="nav">
    <a
      class="highlight"
      routerLink="/tobuy"
      routerLinkActive="active"
      fragment="buy"
      >Купити</a
    >
    <a
      class="highlight"
      routerLink="/to-do"
      routerLinkActive="active"
      fragment="do"
      >Зробити</a
    >
    <a class="highlight" routerLink="/to-call" routerLinkActive="active"
      >Зателефонувати</a
    >
    <a class="highlight" routerLink="/costs" routerLinkActive="active"
      >Витрати</a
    >
    <a class="highlight" routerLink="/sport" routerLinkActive="active">Спорт</a>
  </div>
  <div class="setting">
    <a class="highlight" routerLink="setting" routerLinkActive="active"
      >Налаштування</a
    >
    <a class="highlight" routerLink="exit" routerLinkActive="active">Вхід</a>
  </div>
</div>
