.header {
  width: 100%;
  padding: 10px;
  background: #686d76;
  border-radius: 0.5rem;
  color: #eeeeee;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
}
a {
  // color: #eeeeee;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  margin-left: 5px;
}

.header-logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  a {
    font-size: 40px;
    color: #eeeeee;
  }

  background-color: #686d76;
  border-radius: 0.5rem;
  align-items: center;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #eeeeee;
  border-radius: 0.5rem;
  a {
    color: #686d76;
  }
}

.setting {
  width: 100%;
  a {
    color: #eeeeee;
  }
  display: flex;
  justify-content: flex-end;
  background-color: #686d76;
  border-radius: 0.5rem;
}
.nav a.highlight:hover {
  transition: 2s;
  color: #eeeeee;
  background-color: #373a40;
  border-radius: 6px;
  box-sizing: padding-box;
}

.active {
  background-color: #373a40;

  padding: 10px 15px;
  margin-left: 5px;
  border-radius: 6px;
}

@media screen and(max-width:642px) {
  .nav {
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: 0.5s;
  }
  .navActivate {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
  }

  .setting {
    a {
      color: #686d76;
    }
    display: flex;
    justify-content: flex-end;
    background-color: #eeeeee;
    border-radius: 0.5rem;
  }
  .header-logo a.icon {
    background-image: url("https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: 50px;
    margin-top: 20px;
  }
}
