<div class="task-input">
  <div class="text">
    <p [ngClass]="{ through: lineThrough }">
      <input type="checkbox" id="qwe" (change)="checkValue($event)" />
      <span *ngIf="!edit">{{ taskData.text }} </span>
      <input
        *ngIf="edit"
        type="text"
        size="{{ sizeInput }}"
        value="{{ taskData.text }}"
      />

      <span *ngIf="!lineThrough">до - {{ taskData.time }}</span>
    </p>
  </div>

  <div class="time">
    <!-- <p *ngIf="!lineThrough">Виконати до: {{ taskData.time }}</p> -->
    <p class="time-ready" *ngIf="lineThrough">
      Виконано в: {{ taskData.readyTime | date: "hh:mm:ss" }}
    </p>
  </div>
  <div class="edit">
    <button (click)="editTask()">Редагувати</button>
    <button (click)="removeTask()">Видалити</button>
  </div>
</div>
